* {
    font-size: 2rem;
}

;

#input {
    padding: 16px;
    margin: 16px;
}

#entry {
    font-weight: bold;
    padding: 8px;
}

#text {
    margin-left: 16px;
}

;

#entry:selected {
    border: solid white 5px;
}
